html{
     font-size: 22px;
}

  body{
    background-color: #aabbe1;
    color: black;
}
hr{
    color: black;
}
table {
    border-collapse: collapse;
}
table, th, td, caption {
    border: 1px solid black;
}
caption {
    caption-side: top;
    padding: 5px;
    font-weight: bold;
}